###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
###< symfony/webpack-encore-bundle ###

###> doctrine/doctrine-bundle ###
/var/cache/
/var/log/
###< doctrine/doctrine-bundle ###

# PHP Composer
composer.phar

# IDE
/.idea/
/.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker — ne pas versionner les volumes de données
docker/data/
